doctype html 
html 
    head 
        meta(charset="utf-8")
        title #{title} | Sports-N-Weather
        block scripts 
            link(rel="stylesheet", type="text/css", href="/styles.css")
    body 
        header#header 
            h1.logo Sports & Weather
        main#main 
            block content